:root{
    --color-primary:#00B0FF;
    --color-secondary: #E5E7EB;
    --color-grey: #4e4f52;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;500;900&display=swap');

body{
    margin-top: 0;
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
    font-size: large;
}



.nav{
    display: inline-block;
    position: sticky;
    top: 0 ;
    margin:  0 0.5rem 0.5rem 0.5rem;
    width: 99%;
    height:5rem;
    background-color: var(--color-primary);
    padding: 20rem 20rem auto;
    align-self: center;
    vertical-align: middle;
    border-radius: 0% 0% 30% 30%;
}

.list{
    display: inline;
    list-style: none;
    position: absolute;
    right: 1rem;
    top: 0;
    margin: 1.5rem 3rem auto ;
    vertical-align: middle;
}


.list-item{

    display:inline;
    text-align: left;
    margin: 0 0.5rem 0.5rem 0.5rem;
    
}

.list-link{
    text-decoration: none;
    color: white;
    text-align: left;
    font-size: x-large;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
}

#list-link-active{

    font-weight: 900;
}

#brand-tag{
    color: white;
    margin: 1rem 2rem 1.5rem 2rem;
    display: inline-block;
    vertical-align: middle;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xx-large;
}

#header{
    align-content: center;
}

.img-cont{
    display: flex;
    justify-content: center;
}

#header-img{
    max-width: 800px;
    align-content: center;
    align-self: center;
    text-align: center;
    margin: auto;
    margin-top: 2rem;
    vertical-align: middle;
    justify-content: center;
}

#header-head span{
    color: var(--color-primary);
}

#header-head{
    color: var(--color-grey);
    text-align: center;
}
